refresh_rate: 30 seconds
appenders:
  stdout:
    kind: console
    encoder:
      pattern: "{d} {h({l}):<5} {m}{n}"
  file:
    kind: rolling_file
    path: /var/log/shadowsocks/ssserver.log
    encoder:
      kind: pattern
      pattern: "{d(%Y-%m-%d %H:%M:%S)} {h({l}):<5} {m}{n}"
    policy:
      trigger:
        kind: size
        limit: 50 mb
      roller:
        kind: fixed_window
        pattern: /var/log/shadowsocks/ssserver.{}.log
        count: 5
        base: 1
root:
  level: info
  appenders:
    - file
